@font-face {
  font-family: 'American Grotesk Black';
  src: url('/fonts/TestAmericanGrotesk-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'American Grotesk';
  src: url('/fonts/TestAmericanGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

